


        *
        {
            margin: 0;
            padding: 0;
        }

        #container
        {
            margin: 0 auto;
            width: 800px;
            font-family: cursive;
            font-weight: bold;
            line-height: 0.8;
        }

        #container p
        {
            margin-left: 7px;
        }

        #canvas
        {
            margin: 0 auto;
            display: block;
            border: 1px solid #000;
            box-sizing: border-box;
        }

        .toolbar
        {
            margin: 0 auto;
            width: 100%;
            height: 50px;
        }

        .toolbar-info
        {
           display: inline-block;
           box-sizing: border-box; 
           display: flex;
           align-items: center;
        }

        .toolbar-noninteract
        {
            display: inline-flex;
            width: 100%;
            height: 100%;
            align-items: flex-end;
            justify-content: flex-start;
        }

        .toolbar-info-up
        {
            width: 20%;
            height: 80%;  
            margin-right: 10px;
            border-width: 1px 1px 0px 1px;
            border-style: solid;
        }

        .toolbar-info-down
        {
            width: 50%;
            float: right;
            height: 80%;
            border: 1px solid #000;
        }

        .toolbar-interact
        {
            display: inline-flex;
            width: 30%;
            height: 100%;
            align-items: center;
            justify-content: space-between;
        }

        .button-container
        {
            display: inline-block;
            width: 45%;
            height: 80%;
        }

        .button
        {
           width: 50%; 
           box-sizing: border-box;
           float: left;
           height: 100%;
           background-size: contain;
           background-repeat: no-repeat;
           background-position-x: center;
           border: solid #000;
           
        }

        .button-add
        {
            background-image: url("./assets/add_button.png");
            border-radius: 0px 10px 10px 0px;
            border-width: 2px 2px 2px 1px;
            
        }

        .button-remove
        {
            background-image: url("./assets/remove_button.png");
            border-radius: 10px 0px 0px 10px;
            border-width: 2px 1px 2px 2px;
        }

        #sps-view
        {
            font-size: 0.9em;
            line-height: 1;
        }